@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #eaeaea;
$font2: 'Ubuntu', sans-serif;


@import "_header.scss";
@import "_footer.scss";
@import "_nouislider.scss";


.wrapper.bord {
}

.tp-banner {
  max-width: 1415px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  margin-top: 25px;
  
  img {
    max-width: 100%;
  }
}

.cataloglist-inn {
  padding: 0 22px;
}

.bread {
  margin-bottom: 0px;
}

.catalog {
  margin-top: -7px;
}

.bread-ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.bread-li {
  background-image: url("../img/bread-arr.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 22px;
  margin-right: 17px;
  line-height: 1;
  &:last-child {
    background: none;
  }
}

.bread-a {
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  line-height: 1;
}

.bread-span {
  font-size: 14px;
  font-weight: 300;
  color: #b1b1b1;
}

.catalog {
}

.cat-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  line-height: 1;
}

.cat-title {
  font-size: 30px;
  font-weight: 600;
  color: rgb(49, 49, 48);
  line-height: 1.5;
  margin-bottom: 0px;
}

.filter-share {
  background-image: url("../img/iconf_share.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 20px;
  height: 20px;
  display: block;
}

.filter-row {
  display: flex;
  justify-content: space-between;
  margin-top: -11px;
  border-bottom: 1px solid $bcol;
  padding-bottom: 20px;
}

.filter-open {
  display: flex;
  font-weight: 600;
  color: rgb(49, 49, 48);
  font-size: 14px;  
  align-items: center;
  &:hover {
    text-decoration: none;
  }
  &.enable {
    .filter-open-span {      
      border: 2px solid rgb(224, 31, 46); 
      margin-left: 26px;     
      &:before {
        content: "";
        display: block;
        width: 28px;
        height: 2px;
        background-color: #e01f2e;
        transform: translate(-100%, 0);
      }
    }    
  }
}


.filter-open-span {
  display: block;
  border-radius: 50%;  
  width: 16px;
  height: 16px;
  display: flex;  
  align-items: center;
  border: 2px solid #dddddd;
  margin-left: 10px;
  &:before {
    content: "";
    display: block;
    width: 28px;
    height: 2px;
    background-color: #DDD;
    transform: translate(100%, 0);
  }
}    




.filter-right {
  line-height: 1;
  display: flex;  
  align-items: center;
}

.sort-ul {
  display: flex;
  align-items: center;
  list-style: none;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 5px;
}

.sort-li {
  margin-left: 19px;
  line-height: 1;
}

.sort-a {
  font-weight: 300;
  color: rgb(224, 31, 46);
  font-size: 14px;
  &.active {
    font-weight: 600;
    color: #313130;
  }
}

.catalog-cols {
  display: flex;
  margin-top: 23px;
}

.catalog-col-l {
  width: 0;  
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  &.show {
   width: 270px;
   flex: none;
   padding-right: 28px;   
   opacity: 1;
   visibility: visible;    
 }  
}

.catalog-col-r {
  flex-grow: 1;
}

.catalog-items {
  display: flex;  
  flex-wrap: wrap;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 1px;
    background-color: $bcol;
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }  
}

.catalog-item {
  width: 25%;
  margin-bottom: 52px;
  border-right: 1px solid $bcol;  
  position: relative;
  background-color: #FFF;  
  &:first-child {

  }  
  &:nth-child(25) {
    display: none;
  }  
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $bcol;    
    position: absolute;
    bottom: -26px;
    left: 0;
  } 
  &:hover {
    cursor: pointer;
    .sproduct-hide {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  } 
}
.catalog-col-r-full {
  .catalog-item {
    width: 20%;
    &:nth-child(25) {
      display: block;
    }  
  }
}

.sproduct-cont-1 {
  padding: 0 26px 0px 26px;
}

.sproduct-cont-2 {
  padding: 0 26px 26px 26px;
}

.sproduct-top {
  display: flex;
  height: 230px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sproduct-sale {
  width: 32px;
  height: 32px;
  background-color: rgb(224, 31, 46);
  border-radius: 50%;
  overflow: hidden;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30px;
  top: 0px;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
  &:empty {
    display: none;
  }
}

.sproduct-actions {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

.sproduct-compare {
  background-image: url("../img/weight_icon.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 24px;
  height: 19px;
  display: block;
}

.sproduct-like {
  background-image: url("../img/like_icon.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 24px;
  height: 19px;
  display: block;
  margin-left: 13px;
}

.sproduct-title {
  font-weight: 600;
  color: rgb(49, 49, 48);
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 20px;
  display: block;
}

.sproduct-pay {
  display: flex;
  align-items: center;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 13px;
  min-height: 20px;
  line-height: 1;
}

.sproduct-pay-info {
  display: block;
  background-image: url("../img/help-icon.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.sproduct-price-row {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.sproduct-price {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-right: 18px;
}

.sproduct-price-old {      
 font-size: 13px;
 font-weight: 300;
 color: rgb(0, 0, 0);
 display: inline-block;
 position: relative;
 &:before {
   content: "";
   display: block;
   width: 100%;
   height: 1px;
   background-color: #E01F2E;
   bottom: 50%;
   position: absolute;
   left: 0;
 }
}

.sproduct-watsupp {
  display: block;
  width: 30px;
  height: 32px;
  margin-left: auto;
  background-image: url("../img/whatsapp_icon.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.sproduct-availability {
  font-size: 13px;
  font-weight: 300;
  color: rgb(0, 230, 118);
  margin-top: 14px;
}

.sproduct-not-availability {
 font-size: 13px;
 font-weight: 300;
 color: #999999;
 margin-top: 14px; 
}

.sproduct-hide-wrap {
  position: relative;
  background-color: #FFF;
}

.sproduct-hide {
  position: absolute;
  top: 22px;
  left: 0;  
  height: 0;
  opacity: 0;
  visibility: hidden;  
  transition: 0.5s;
  z-index: 10;
  background-color: #FFF;  
  margin-left: -1px;
  margin-right: -1px;
  padding: 0 26px 26px 26px;
}



.sproduct-chars-row {
  margin-bottom: 20px;
}

.sproduct-chars-title {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
}

.sproduct-chars-content {
  margin-top: 7px;
  display: flex;
}

.sproduct-color {
  width: 38px;
  height: 38px;
  background-color: rgb(211, 213, 210);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.sproduct-color-lbls {
  margin-left: -2.5px;
  margin-right: -2.5px;
  display: flex;  
  flex-wrap: wrap;
}

.sproduct-color-lbl {
  margin-left: 2.5px;
  margin-right: 2.5px;
  &:hover {
    cursor: pointer;
  }
}
input[type="radio"].sproduct-color-chb, input[type="checkbox"].sproduct-color-chb {
  display: none;
  + span {
    width: 38px;
    height: 38px;
    background-color: rgb(211, 213, 210);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
  }
  &:checked {
    + span {
      background-image: url("../img/iconfinder_check.png");
      background-repeat: no-repeat;
      background-position: center;    
    }
  }
}

.sproduct-color-lbl2 {
  margin-left: 2.5px;
  margin-right: 2.5px;
  display: block;
  &:hover {
    cursor: pointer;
  }
  input[type="radio"].sproduct-color-chb2, input[type="checkbox"].sproduct-color-chb2 {
    display: none;
    + span {
      width: 38px;
      height: 38px;
      border: 1px solid rgb(234, 234, 234);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
    }
    &:checked {
      + span {
        background-color: #e01f2e;
        font-weight: 600;
        color: #ffffff;  
      }
    }
  }
}



.sproduct-size-1 {
  width: 38px;
  height: 38px;
  border: 1px solid rgb(234, 234, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.sproduct-size-act {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e01f2e;
  font-weight: 600;
  color: #ffffff;
}

.sproduct-color-lbls-dis {
  width: 100%;
  display: flex;  
  flex-wrap: wrap;
  margin-left: -2.5px;
  margin-right: -2.5px;        
}

.sproduct-size-dis {
  width: 38px;
  height: 38px;
  border: 1px solid rgb(234, 234, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f5f5f5;
  color: #999999;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.sproduct-reviews-row {
  display: flex;
  margin-bottom: 19px;
}

.sproduct-reviews-lbl {
 font-size: 13px;
 font-weight: 300;
 color: #999999; 
 margin-left: 13px;
}

.sproduct-reviews-stars {
  display: flex;  
  align-items: center;
}
.sproduct-reviews-star {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("../img/icon_star_2.png");
  background-repeat: no-repeat;
  background-position: left top;
  margin-right: 4px;
}

.sproduct-reviews-star-o {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("../img/icon_star_o.png");
  background-repeat: no-repeat;
  background-position: left top;
  margin-right: 4px;
}

.sproduct-chars-txts {
  display: block;
  font-size: 13px;
  margin-top: 13px;
}

.sproduct-chars-tit {
  color: #999999;
}

.sproduct-quantity {
}

.sproduct-quantity-form {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sproduct-quantity-controls {
  display: flex;
  align-items: center;
  width: 112px;
  height: 32px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  justify-content: center;
}

.sproduct-quantity-control {
  font-size: 24px;
  font-weight: 300;
  color: #e01f2e;
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  &:hover {
    text-decoration: none;
    color: #e01f2e;
  }
  &:focus {
   text-decoration: none;
   color: #e01f2e; 
 }
}

.sproduct-quantity-input {
  margin-bottom: 0px;
  text-align: center;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  font-size: 13px;
  font-weight: 300;
  color: #313130;
  background-color: #f5f5f5;
}

.sproduct-btn {
  padding: 0 26px;
  height: 32px;
  font-size: 13px;
  line-height: 32px;
}

.catfilter-actions {
  display: flex;
  width: 100%;  
  margin-top: 22px;
}

.catfilter-btn {
 padding: 0 25px;
 height: 32px;
 font-size: 13px;
 line-height: 32px; 
}
.catfilter-btn-o {
  padding: 0 0px;
  height: 32px;
  font-size: 13px;
  margin-left: 5px;
  line-height: 32px;
  background: none;
  color: #999999;
  &:hover {
    color: #999;
    background-color: #F5F5F5;
  }
  &:focus {
   color: #999; 
 }
}

.catfilter {

}
.catfilter-it {
  padding: 18px 0 18px 0;
  border-bottom: 1px solid $bcol;
  &:first-child {
    padding-top: 0;
  }
}

.noUi-target {
  margin-bottom: 24px;
}

.catfilter-tit {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #313130;
  margin-bottom: 13px;
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
  &:after {
    content: ''; 
    margin-left: 10px;
    border: 5px solid transparent;
    border-right: 5px solid #e01f2e;
    transform: rotate(90deg);
    transition: 0.1s;
    margin-top: 0px;
    display: block;
    


  }
  &.hide {
    margin-bottom: 0;
    &:after {
      transform: rotate(-90deg);
      margin-top: 8px;
    }
  }
}


.catfilter-cont {  
  transition: 0.5s;
  line-height: 1;
  padding-bottom: 10px;
  &.hide {
    height: 0;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 6px;
  }
}
label.catfilter-lbl {
  margin-bottom: 17px;
  display: block;  
  &:last-child {
    margin-bottom: 0;
  }
  input[type="checkbox"] {
    display: none;
    + span {
      font-size: 13px;
      font-weight: 300;
      color: #313130;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 30px;
      &:before {
        position: absolute;
        left: 0;        
        content: "";
        display: flex;
        width: 20px;
        height: 20px;
        background-color: #f5f5f5;
        border-radius: 3px;
      }      
    }
    &:checked {
      + span {
        font-weight: 600;
        &:before {
          background-color: #e01f2e;
        }
        &:after {
         position: absolute;
         left: 0;        
         content: "";
         display: flex;
         width: 20px;
         height: 20px;
         background: transparent url("../img/check_mark.png") $nr center;
       }
     }
   }
 }
}

.show-more-prods {
  display: block;
  padding: 0 0 20px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #e01f2e;
  text-align: center;
  border-bottom: 1px solid $bcol;
  &:hover {
    text-decoration: none;    
  }
}


ul.spagin {
  display: flex;  
  justify-content: center;
  list-style: none;
  padding: 24px 0;
  border-bottom: 1px solid $bcol;  
  align-items: center;
  li {
    margin: 0 15px;
    a {
      display: block;
      font-size: 14px;
      color: #e01f2e;
      font-weight: 600;
      &:hover {
        text-decoration: none;
        color: #000;
      }
      &.active {
        color: #313130;
      }
    }
  }
  li.spagin-prev {  
    margin-right: auto;
  }
  li.spagin-next {
    margin-left: auto;
    a {
      transform: rotate(180deg);
    }
  }
}

.spagin-control {  
  a {
   width: 11px;
   height: 20px;
   display: block;
   background: url("../img/nav-arrow0.png") $nr 0 0;
   &:hover {
    background-position: top -60px left 0;
  } 
}  
}


.fivereasons {
  padding: 23px 0 54px 0; 
  background-color: #f5f5f5;
}
.contain {}
.fivereasons-w {
  display: flex;  
  justify-content: space-between;  
  flex-wrap: wrap;
}
.fivereasons-it {
  width: 227px;
  p {
    font-size: 14px;
    color: #313130;
    line-height: 1.7;
    a {      
      color: #e01f2e;
    }
  }
}
.fivereasons-img-w {
  margin-bottom: 14px;
}

.sheading-2 {
  font-size: 30px;
  line-height: 2.3;
  font-weight: 600;
  color: #313130;
  margin-bottom: 5px;
}

.fabout {
  padding-top: 30px;
  padding-bottom: 30px;
}
.fabout-w {
  display: flex;  
  justify-content: space-between;
}
.sheading-2 {}
.fabout-l {
  flex: 1 1 auto;
  margin-right: 97px;
}
.fabout-r {
  width: 537px;
  flex: none;
}

.fivereasons-num {
  font-size: 60px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1;
}


.relateprods-container {  
  position: static;
}

.relateprods-container-w {
  position: relative;
  &:after {
    content: "";
    display: block;
    background: url("../img/relate_light.png") $nr right top;
    height: 407px;
    width: 109px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
}

.relateprods {
  padding-bottom: 22px;
  padding-top: 40px;  
  .swiper-button {
    width: 48px;
    height: 48px;
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.05);    
    border-radius: 50%;
    background: #fff url("../img/nav-arrow-2.png") $nr center;
    position: absolute;
    top: 220px;  
    z-index: 11;  
    &:after {
      display: none;
    }
  }
  .swiper-button-next {
    right: 0px;
  }
  .swiper-button-prev {
    left: 0;
    display: none;
  }
}

.relateprods-item {
  .catalog-item {
    width: 100%;
    margin-bottom: 0;
    &:after {
      display: none;
    }
  }
}

.price__range {
  cursor: pointer;
  margin-top: 19px;
}
.price__inputs {
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  input[type="text"] {
    border: none;
    width: calc(50% - 10px);
    height: 32px;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 0 15px;    
    font-size: 13px;
    font-weight: 300;
    color: #313130;
  }
  span {
    font-size: 13px;
    font-weight: 300;
    color: #313130;
  }
}

.noUi-handle {
  border: none;
  background: none;
  cursor: pointer;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:after {
    display: none;
  }
}

.noUi-touch-area {
  position: relative;
  border: none;
  outline: none;
  &:before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 2.5px;
    top: 2.5px; /* Положение треугольника */
    border: 9px solid transparent; /* Прозрачные границы */
    border-right: 9px solid #e01f2e; /* Добавляем треугольник */
    transform: rotate(180deg);
  }
  &:after {
    display: none;
  }
}

.noUi-handle-upper {
  .noUi-touch-area {  
    &:before {
     transform: rotate(0deg);   
   }
 }
}

@import "_media.scss";
@import "_hides.scss";



@import "_after-styless";